body {
    background: #E6E6FA
}

aside {
    float: left;
    background: #4B0082;
    width: 20%;
    padding: 1.5%;

    height: 1362px;
    color: whitesmoke;
    border-right: 5px solid #6A5ACD;

}

aside img {
    width: 40px;
    float: left


}

aside .logo {
    padding: 1.5%;
    font-size: 30px;
    margin-left: 50px;
    font-weight: bold;
    position: relative;
    bottom: 43px;
}

aside h3 {
    margin-top: -20px;
    font-size: 25px;
}

aside ul {list-style: none}
aside ul li {
    color: whitesmoke;
    display: block;
    margin-top: 10px;
    transition: transform .2s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #BA55D3;
    text-decoration: none;
    transform: scale(1.04);
}


 aside .selected {
    color: black;
}

.img-article-left  {

     margin-left: 1%;
 }
 .list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
    color: #000;
    font-size: 24px;
    text-decoration: none;
}
 .list-pages .page-num .page-num-selected {
   display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}
